
<div class ="ui main text container segment">
    <div class="ui huge header"><%= info%> </div>
    <h4 class="pull-right"> <%= newNumber %> </h4>
    
    <form class="ui form" action="/", method="GET">
        <div class="field">Click submit button to get another phone number </div>
        <input class="ui grey big basic button" type= "submit">
    </form>    
</div>

