
<div class ="ui main text container segment">
    <div class="ui huge header">Please ask the phone number you want, otherwise we will assign you random number </div>
    <div class="ui huge header">Number should like  : 111-111-1111 -> 999-999-9999</div>
    
    <form class="ui form" action="/request", method="POST">
        <div class="field">
             <label>Phone Number</label>
             <input type="text" name="number" placeholder="number">
        </div>
        <input class="ui grey big basic button" type= "submit">
    </form>    
</div>

